/* Navbar styles */
.site-title {
    font-family: Luminari;
    font-weight: 900;
    font-size: 38px;
    text-transform: none;
    line-height: 150%;
    letter-spacing: 1px;
    text-decoration: none;
}

.site-title:hover {
    text-decoration: underline;
}

.nav-link:hover {
    color: white;
    mix-blend-mode: difference;
}

.nav-item {
    transition: background-color 0.67s ease;
    transition: font-size 0.67s ease;
}

.nav-item:hover {
    font-size: larger;
}