/* Navbar styles */
.site-title {
    font-family: Luminari;
    font-weight: 900;
    font-size: 38px;
    text-transform: none;
    line-height: 150%;
    letter-spacing: 1px;
    text-decoration: none;
}

.site-title:hover {
    text-decoration: underline;
}

.socials-list {
    list-style: none;
    flex: content;
    margin-top: 0px;
    margin-bottom: 0px;
}

.socials-icon {
    display: inline;
    flex: content;
}

.socials-icon a {
    display: inline;
    padding-left: 3px;
    padding-right: 15px;
    border: 1px transparent;
    margin-right: 0px;
}

.socials-icon a img {
    height: 30px;
    width: 30px;
}

.active {
    color: #1b7fd7 !important;
}

#nav li a:hover {
    color: #1b7fd7 !important;
}

@media (max-width: 991px) {
    .socials-list {
        list-style: none;
        flex: content;
        margin-top: 10px;
        margin-bottom: 0px;
        padding-left: 0px;
    }
}

.navbar {
    /* Black background with 50% opacity */
    /* background-color: rgba(0, 0, 0, 0.89) !important; */
}