/* Light / Dark mode features */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
    
    .nav-item {
        background-color: black;
    }
    
    .nav-item:hover {
        background-color: #e7e7e7;
    }
    
    .active {
        color: #1b7fd7 !important;
    }
    
    .active:hover {
        color: white !important;
    }
    
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
    }
    
    .active {
        color: blue !important;
    }
    
    .active:hover {
        color: white !important;
    }
    
    .nav-item {
        background-color: white;
    }
    
    .nav-item:hover {
        background-color: black;
    }
}

/* Navbar styles */
.site-title {
    font-family: Luminari;
    font-weight: 900;
    font-size: 38px;
    text-transform: none;
    line-height: 150%;
    letter-spacing: 1px;
    text-decoration: none;
}

.site-title:hover {
    text-decoration: underline;
}

.nav-link:hover {
    color: white;
    mix-blend-mode: difference;
}

.nav-item {
    transition: background-color 0.67s ease;
    transition: font-size 0.67s ease;
}

.nav-item:hover {
    font-size: larger;
}