/* Homepage carousel styles */
.carousel-item {
    transition: transform 0.5s ease;
}

.carousel-item img {
    height: calc(100vh - 83px);
    object-fit: cover;
}

.carousel-item video {
    height: calc(100vh - 83px);
    object-fit: cover;
}

.slide-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    mix-blend-mode: difference;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: 0.3px black;
}

.slide-title a {
    text-decoration: none;
    font-size: 4vmax;
    color: white;
}

.slide-title h1 {
    font-size: 4vmax;
    color: white;
}

.slide-title h5 {
    font-size: 1.5vmax;
    color: white;
}

.slide-title h6 {
    font-size: 1.1vmax;
    color: white;
}

.slide-title a:hover {
    text-decoration: underline;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    color: white;
    mix-blend-mode: difference;
}

#cats-img {
    object-fit: contain;
}